<!DOCTYPE html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>

        <title>Budgtr</title>
    </head>

    <body>
        <header class="bg-slate-100 px-5 py-3 mb-5">
            <nav>
                <ul class="list-none">
                    <li class="inline-block	mr-3"><a href="/">Home</a></li>
                    <li class="inline-block"><a href="/budgets">All Budgets</a></li>
                </ul>
            </nav>
        </header>

        <main>
