<%- include('partials/header'); -%>

<div class="container mx-auto">
    <h1 class="text-center text-xl">McSpicy is good for health and easy on your wallet</h1>
</div>

<%- include('partials/footer'); -%>
